.background{
  background-repeat: no-repeat;
  background-size:auto;
  position: relative;
  margin-bottom: 600px;
}
.background>img{
  width: 100%;
  height: 500px;
}
.nav{
  background-color: #ffffff54;
  position:absolute;
  top:0px;
  width: 100%;
  
}
.navi{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  max-height: 1450px;
}
.position{
  position:absolute;
  top:140px;
  left: 23%;
  right: 23%;

}
.logo{
  margin: 8px;
}
.logo>.alt{
  width: 150px;
}
.logo>.alt1{
  width:150px;
  opacity: 0;
}
.icons{
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
}
.icons>div{
  display:flex;
  margin-left: 10px;
  margin-right: 10px;
}
.icons>div>i:hover{
  color: #e30b13;
}
.icons>div>p:hover{
  color: #e30b13;
}
.icons>div>i{
  font-size: 16px;
  margin: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.718);

}
.icons>div>p{
  font-size: 16px;
  margin: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.751);
}
.buttons{
  display:flex;
}

.button1{
  display:flex;
  margin: 10px;
  border-radius: 10px;
  border-color: #E31112;
  background-color: #E31112;
  height: 45px;

}
.button1>div>i{
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 0px;
  color: #FFFFFF;
}

.button1>div>p{
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: #FFFFFF
}
.button1>div>p>span{
  font-size: 10px;
}

.button2{
  display:flex;
  margin: 10px;
  border-radius: 10px;
  border-color: #E31112;
  height:45px;

}
.button2>i{
  font-size: 15px;
  margin-top:10px;
  margin-right: 15px;
  color: #e30b13;
}

.button2>p{
  font-size: 15px;
  font-weight:600;
  margin-top: 10px;
  color: #f31c34;
}

.endicon{
  display: flex;
  margin-top: 8px;
}
.endicon>i{
  margin: 15px 8px 15px 20px;
  color: rgba(0, 0, 0, 0.562);
}
.endicon>p{
  color: rgba(0, 0, 0, 0.664);
  font-size: 15px;
}


.iconb{
  display: flex;
  justify-content: center;
}
.iconb>.one{
  padding-top: 20px;
  padding-left: 20px;
  background-color: #FFFFFF;
  border-top-left-radius: 15px;
}

.iconb>.two{
  padding: 20px 0px 20px 0px;
  background-color: #FFFFFF;
}

.iconb>.three{
  padding: 20px 0px 20px 0px;
  background-color: #FFFFFF;
}
.iconb>.four{
  padding: 20px 20px 20px 0px;
  background-color: #FFFFFF;
  border-top-right-radius: 15px;
}



.iconb>.one>div{
  display:flex;
  padding: 5px;
  border-style: solid;
  border-color: #e30b13;
  background-color: #e30b13;
  border-width: 1px;
  width: 100px;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.iconb>.one>div:hover{
  background-color:#fbddde ;
}
.iconb>.two>div{
  display:flex;
  padding: 5px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px 0px 1px 1px;
  width: 100px;
  justify-content: center;
}
.iconb>.two>div:hover{
  background-color:#fbddde ;
}
.iconb>.three>div{
  display:flex;
  padding: 5px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px 0px 1px 1px;
  width: 100px;
  justify-content: center;
}
.iconb>.three>div:hover{
  background-color:#fbddde ;
}
.iconb>.four>div{
  display:flex;
  padding: 5px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px;
  width: 100px;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.iconb>.four>div:hover{
  background-color:#fbddde ;
}


.iconb>.one>div>i:hover{
  color: black !important;
}
.iconb>.ic>div>i{
  font-size: 16px;
  margin: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.718);

}


.iconb>.ic>div>p{
  font-size: 16px;
  margin: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.751);
}

.ticket{
  display: flex;
  justify-content: center;
}
.tofrom{
  display:flex;
  background-color: #FFFFFF;
  padding-top:20px;
  padding-left: 20px;
  border-top-left-radius: 15px;
  position: relative;
}

.to{
  padding: 5px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px 1px 1px 1px;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 7px;
  width: 200px;
}

.to>button{
  font-size: 10px;
  font-weight: 500;
  border: none;
  background-color: #FFFFFF;

}
.to>input{
  border: none;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.884);
}
.iconm{
  padding-top: 25px;
  position:absolute;
  z-index: 2;
  right: 233px;
  top:2px;
  position: absolute;

}
.iconm>i{
  font-size: 25px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px;
  border-radius: 50%;
  padding: 10px;
  background-color: #FFFFFF;
}

.from{
  padding: 5px 0px 10px 40px ;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px 1px 1px 0px;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20px;
}

.from>button{
  font-size: 10px;
  font-weight: 500;
  border: none;
  background-color: #FFFFFF;

}
.from>input{
  border: none;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.884);
}


.date{
  display:flex;
  background-color: #FFFFFF;
  padding-top:20px;
  padding-left: 20px;
  border-top-right-radius: 15px;
}
.tod{
  padding: 5px 20px 5px 15px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px 0px 1px 1px;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tod>button{
  border: none;
  background-color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
}
.tod>input{
  border: none;
  background-color: #FFFFFF;
  font-size: 15px;
}

.fromd{
  padding: 5px;
  border-style: solid;
  border-color: #e30b13;
  border-width: 1px 1px 1px 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20px;
}
.fromd>button{
  font-size: 10px;
  font-weight: 500;
  width: 150px;
  border: none;
  background-color: #FFFFFF;
  justify-content: left;
}

.city{
  background-color: #FFFFFF;
  position:relative;
  display: flex;
  justify-content: space-around;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.city>button{
  border:none;
  margin: 20px 0px 50px 0px;
  background-color: #f9f4fe;
  padding: 7px 15px 7px 15px;
  color: rgba(0, 0, 0, 0.767);

}
.city>label{
  padding: 25px;
  color: rgba(0, 0, 0, 0.753);
}

.bbutton{
  position:absolute;
  left: 42%;
  bottom: -25px;

}
.bbutton>button{
  background-color: #e30b13;
  color: #FFFFFF;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;

  
}

li{
  list-style-type:none;
  border-color: none;
}
.search-container {
  position: relative;
  width: 100%;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #FFFFFF;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 1000;
}

.suggestions li {
  padding: 5px 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

@media only screen and (min-width:600px){

}

@media only screen and (max-width:900px){
  .icons{
    display:none;
  }
  .button1>div>p>span{
    display: none;
    padding:5px;
  }
  .button2{
    display:none;
  }
  .endicon{
    display:none;
  }
  .navi{
    justify-content: space-between;
    padding: 20px 80px 20px 80px;
  }
  .nav{
    background-color:rgba(255, 255, 255, 0);
  }
  .background>img{
    width: 100%;
    height: 300px;
  }
  .position{
    top:250px;
    width: 100%;
    left: 0%;
  }
  .city{
    display: none;
  }
  .ticket{
    display: inline;
    width: 100%;
    padding-right:5%;
    padding-top: 5%;

    position:absolute;
    background-color: aqua;
  }
  .iconb>.ic{
    padding-top: 20px;
    padding-left: 20px;
    background-color:rgba(255, 255, 255, 0);
    border-top-left-radius: 15px;
  }
  .iconb>.ic>div{
    background-color: #FFFFFF;
    border-style: none;
    display: block;
    border-radius: 10px;
    justify-content: center;
    width: 65px;
  }
  .iconb>.ic>div>i{
    justify-content: center;
    padding: 10px 10px 0px 15px;
  }
  .iconb>.ic>div>p{
    padding: 0px 10px 10px 10px;
  }
  .tofrom{
    background-color: rgba(255, 119, 255, 0);
  }
  
}
